:root {
  --color-primary: #5ec576;
  --color-primary-darker: #4bbb7d;
  --color-primary-darkest: #39895d;
  --color-primary-opacity: #5ec5763a;

  --color-secondary: #ffcb03;
  --color-secondary-darker: #ffbb00;
  --color-secondary-darkest: #ecad00;
  --color-secondary-opacity: #ffcd0331;

  --color-tertiary: #ff585f;
  --color-tertiary-darker: #fd424b;
  --color-tertiary-darkest: #e73e47;
  --color-tertiary-opacity: #ff58602d;

  --color-dark-white: #e7e7e7;
  --color-dark-white-darker: #dddddd;
  --color-dark-white-darkest: #c4c4c4;

  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);

  --background-primary: #f3f3f3;
  --background-secondary: #bbb;

  --background-white: #fff;
  --background-white-dark: #fafafa;

  --section-separation-border-bottom: solid 1px #bcbcbc;

  --text-color-primary: #444;
  --text-color-secondary: #f3f3f3;
  --text-color-black: #000;

  --logo-rotate-time: 0.5s;
  --standard-app-transition-time: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flexbox Styles Start */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-self-end {
  align-self: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.full-width {
  flex: 1;
}
/* Flexbox Styles End */

body {
  color: var(--text-color-primary);
  background-color: var(--background-primary);
}

.font-poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rotate {
  transform: rotate(6turn);
  transition: transform var(--logo-rotate-time) ease-in-out;
}

/* Links Start */
.nav-link:link,
.nav-link:visited {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.12rem;
  color: var(--text-color-primary);
  text-decoration: none;
  transition: all var(--standard-app-transition-time);
}
/* Links End */

/* Buttons Start */
.btn {
  padding: 0.5rem 1rem;
  font-size: 1.12rem;
  font-weight: 500;
  cursor: pointer;
  background: none;
  border: none;
}

.round-btn {
  border-radius: 2rem;
}

.primary-btn {
  color: var(--text-color-secondary);
  background: var(--color-primary);
}

.primary-btn:hover {
  background: var(--color-primary-darker);
}

.primary-btn:active {
  background: var(--color-primary-darkest);
}

.secondary-btn {
  color: var(--text-color-secondary);
  background: var(--color-secondary);
}

.secondary-btn:hover {
  background: var(--color-secondary-darker);
}

.secondary-btn:active {
  background: var(--color-secondary-darkest);
}

.tertiary-btn {
  color: var(--text-color-secondary);
  background: var(--color-tertiary);
}

.tertiary-btn:hover {
  background: var(--color-tertiary-darker);
}

.tertiary-btn:active {
  background: var(--color-tertiary-darkest);
}

.text-primary-btn {
  font-weight: 600;
  padding: 0.5rem 0;
  color: var(--color-primary);
}

.text-primary-btn:hover {
  color: var(--color-primary-darker);
}

.text-primary-btn:active {
  color: var(--color-primary-darkest);
}

.scroll-primary-btn {
  border-bottom: solid 2px var(--color-primary);
}

.scroll-primary-btn:hover {
  border-color: var(--color-primary-darker);
}

.scroll-primary-btn:active {
  border-color: var(--color-primary-darkest);
}

.tab-btn {
  width: 15rem;
  height: 3rem;
  color: var(--text-color-black);
  font-size: 1rem;
}
/* Buttons End */

/* Visibility Start */
.hidden {
  opacity: 0;
}

.faded {
  opacity: 0.2;
}

.visible {
  opacity: 1;
}
/* Visibility End */

.nav-links-gap {
  column-gap: 0.5rem;
}

.cookie-container {
  left: 0;
  bottom: 0;
  position: sticky;
}

.cookie-message {
  padding: 0.4rem;
  column-gap: 2rem;
  background: var(--background-secondary);
  z-index: 1;
}

.header-container {
  height: 100vh;
  border-bottom: var(--section-separation-border-bottom);
}

.nav-container {
  width: 100%;
  padding: 0.5rem 4rem 0 4rem;
  height: 5.5rem;
  background: var(--background-primary);
  z-index: 1;
}

.sticky-container {
  left: 0;
  top: 0;
  position: fixed;
}

.logo-img-container {
  margin: 0.4rem;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.company-title {
  font-size: 1.6rem;
  font-weight: 450;
  letter-spacing: 0.08rem;
}

.header-title-img-container {
  padding: 2rem 12vw 0 12vw;
}

.header-title-container {
  flex: 2;
}

.header-main-title-container {
  margin-bottom: 1rem;
}

.header-title {
  font-size: 3.4rem;
  font-weight: 510;
}

.header-title-highlight {
  position: relative;
}

.header-title-highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

.header-subtitle-container {
  margin-bottom: 1.5rem;
}

.header-subtitle {
  font-size: 1.4rem;
  font-weight: 500;
}

.animated-arrow {
  display: inline-block;
  animation: bounce 1.2s ease-in-out infinite;
}

.header-img-container {
  margin: 1rem;
  flex: 1;
}

.header-img {
  width: 30vw;
  height: 55vh;
}

.section-container {
  padding: 8rem 12rem;
  border-bottom: var(--section-separation-border-bottom);
  transition: transform var(--standard-app-transition-time) ease-in-out;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section-header {
  width: 50vw;
  row-gap: 1rem;
  margin-bottom: 5rem;
}

.section-title {
  font-size: 1.1rem;
  font-weight: 550;
  color: var(--color-primary);
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 2.3rem;
  font-weight: 500;
}

.features-img-container {
  padding: 2rem;
}

.features-img {
  width: 100%;
  height: 100%;
}

.lazy-img {
  filter: blur(20px);
}

.features-container {
  display: grid;
  grid-template-columns: repeat(2, 35vw);
  gap: 2rem;
}

.spinner-container {
  width: 100%;
  height: 100%;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid var(--color-primary-opacity);
  border-top-color: var(--color-primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.features_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-opacity);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.features_icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary);
}

.features-header {
  font-size: 1.2rem;
  font-weight: 600;
}

.features-description {
  font-weight: 300;
}

.features-header-container {
  margin-bottom: 2rem;
}

.modal-container {
  width: 38vw;
  height: 75vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border: none;
  background-color: var(--background-primary);
}

.modal-container::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.modal-close-btn {
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 100%;
  border: none;
  color: var(--text-color-primary);
  background-color: var(--color-dark-white);
}

.modal-close-btn:hover {
  background-color: var(--color-dark-white-darker);
}

.modal-close-btn:active {
  background-color: var(--color-dark-white-darkest);
}

.modal-header-container {
  margin-bottom: 2.8rem;
}

.modal-title {
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--text-color-primary);
}

.modal-field-container {
  margin: 1rem 0;
}

.modal-input-label-container {
  width: 11rem;
}

.modal-input-label {
  font-size: 1.1rem;
  color: var(--text-color-primary);
  font-weight: 500;
}

.modal-input {
  width: 15rem;
  height: 2.5rem;
  padding: 0 0.8rem;
  font-size: 1.1rem;
  border: solid 2px var(--color-dark-white-darker);
  border-radius: 0.2rem;
  background: var(--background-white);
}

.modal-input:focus {
  outline: none;
  border: solid 2px var(--color-dark-white-darkest);
  background-color: var(--background-white-dark);
}

.modal-buttons-container {
  margin-top: 1rem;
}

.modal-buttons {
  padding: 0.5rem 2rem;
}

.operations-tabbed-container {
  margin-top: 2rem;
}

.operations-tabs {
  background: var(--background-white);
  column-gap: 3rem;
}

.operations-tab-btn {
  transform: translateY(-50%);
  transition: transform var(--standard-app-transition-time) ease-in-out;
}

.operations-tab-btn-active {
  transform: translateY(-75%);
}

.operations-tab-btn-number {
  padding: 0 0.5rem;
  font-weight: 600;
}

.operations-tabs-content-container {
  height: 45vh;
  padding: 3rem 4rem;
  background: var(--background-white);
}

.operations-tab-content {
  display: none;
}

.operations-tab-content-active {
  display: flex;
}

.operations-tab-content-gap {
  column-gap: 2rem;
}

.operations-tab-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.operations-tab-icon svg {
  width: 1.8rem;
  height: 1.8rem;
}

.operations-tab-icon-1 {
  background-color: var(--color-secondary-opacity);
}
.operations-tab-icon-2 {
  background-color: var(--color-primary-opacity);
}
.operations-tab-icon-3 {
  background-color: var(--color-tertiary-opacity);
}
.operations-tab-icon-1 svg {
  fill: var(--color-secondary-darker);
}
.operations-tab-icon-2 svg {
  fill: var(--color-primary);
}
.operations-tab-icon-3 svg {
  fill: var(--color-tertiary);
}

.operations-tab-description-container {
  row-gap: 2rem;
}

.operations-tab-content-title {
  font-size: 1.4rem;
  font-weight: 500;
}

.operations-tab-content-description {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-color-primary);
}

/* Animations Start */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* Animations End */
